#RewriteEngine On
#RewriteCond %{REMOTE_ADDR} !^186.139.211.248
#RewriteCond %{REQUEST_URI} !^/mantenimiento\.html$
#RewriteRule ^(.*)$ https://cuatrolados.com/mantenimiento.html [R=307,L]

Options -Indexes

ErrorDocument 404 /error.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ - [R=404,L]

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
